.github-button {
  font-family: "Segoe UI", Helvetica, Arial;
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 3px;
  border-style: none !important;
  width: 240px;
}

.google-button {
  font-family: "Segoe UI", Helvetica, Arial;
  color: white;
  font-size: 20px;
  background-color: #ea4335;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 3px;
  border-style: none !important;
  width: 240px;
}

.login-button {
  font-family: "Segoe UI", Helvetica, Arial;
  color: white;
  font-size: 20px;
  background-color: #4286f4;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin: 3px;
  border-style: none !important;
  width: 240px;
}
#signuplink{
  font-size:30px;
}
