body {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Helvetica, Arial;
  color: #4f545c;
}

.main-content {
  padding: 20px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4286f4;
    border-style: groove;
    border-width: 0px 0px 1px;
    border-color: #888;
}

li {
    float: left;
}

li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    background-color: #448cff !important;
}

strong {
  font-weight: bolder;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #4286f4;
}

a:hover {
  text-decoration: underline;
  color: #4286f4;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: #4286f4;
}

button {
  font-family: "Segoe UI", Helvetica, Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4286f4;
  padding: 10px 10px 10px 10px;
  border: solid #000888 1px;
  text-decoration: none;
  cursor: pointer;
}

hr {
  background-color: gray;
  height: 1px;
  border-style: none;
  margin: 5%;
}

.blue-bg {
  color: white;
  background-color: #4286f4;
  margin: 20px 0px;
  padding: 30px 20%;
}

.content {
  margin: 20px 0px;
  padding: 30px 20%;
}
